# Format: postgresql://USER:PASSWORD@ENDPOINT:PORT/DBNAME
DB_USER=postgres
DB_PASSWORD=haslo
DB_HOST=<endpoint>
DB_PORT=5432
DB_NAME=herbal

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
# Ustawienia AWS Cognito
COGNITO_REGION=<twoj-region-np-eu-west-1>
COGNITO_USER_POOL_ID=<twoj-user-pool-id>
COGNITO_APP_CLIENT_ID=<twoj-app-client-id>
