PROJECT_NAME=Products Service
VERSION=1.0.0
API_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql://user:password@products-db:5432/productsdb

# Redis
REDIS_URL=redis://products-redis:6379/0

# Elasticsearch
ELASTICSEARCH_URL=http://elasticsearch:9200
