PROJECT_NAME=Orders Service
VERSION=1.0.0
API_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql://user:password@orders-db:5432/ordersdb

# Redis
REDIS_URL=redis://orders-redis:6379/0

# Message Queue
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# External services
USER_SERVICE_URL=http://user-service:8000
CART_SERVICE_URL=http://cart-service:8000
PRODUCTS_SERVICE_URL=http://products-service:8000
